@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Schoolbell&display=swap');
*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.container{
    display: flex;
    align-items: center;
    max-width: 1920px;
    max-height: 1114px;
    }
.background-con{
    background-color:#145E76;
    background-image: url(../images/background.png);

}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    padding: 15px 35px;
    background: transparent;
    cursor: pointer;
    color: #ffff;
    border: none;
    background-color: #145E76;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    border-radius: 25px;

}
button:hover{
    transform: scale(0.9);
    background: #FFA63A;
    transition: all .7s ease-in-out;
}
.open, .close{
    position: fixed;
    right: 50px;
    top: 50px;
    display: none;
}
#backtop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: .7s;
}
#backtop a img{
    width: 50px;
    border-radius: 24px;
}
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    max-width: 1170px;
    height: 75px;
    box-shadow: 0 0 5px 2px white;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    z-index: 1;
}
.navbar-left{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-left span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.menyu-item a{
    padding-right: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
transition: all 3s ease-in-out;

color: #A1B5BB;
}
.menyu-item a:hover{
    text-decoration-line: underline;
    
}
        /*-----M A I N----*/ 
.main{
    padding-top: 94px;
    display: flex;
    max-width: 1170px;
    padding-bottom: 248px;
    align-items: center;
    justify-content: center;
}
.main .main-left .IM{
    font-family: 'Schoolbell';
    margin-bottom: 40px;
}
.main .main-left h2{
    font-family: 'Inter';
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #ffff;
}
.main .main-left p{
    font-family: 'Inter';
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #849499;
}
.main .main-left.butt-left{
    text-align:center;
}


/*  S T A T I S T I C */
 
  .statistic{
    position: relative;
    width: 1170px;
    height: 323px;
    top: -161px;
    left: 0;
    right: 0;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
  }
  .statistic .static-number,.static-info{
    display: flex;
  }
  .statistic h2{
font-family: 'Inter';
margin-top: 64px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
color: #265A6A;
  }
.static-number p{
font-family: 'Inter';
margin-top: 79px;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 22px;
color: #08546C;
}
.static-info p{
    font-family: 'Inter';
    margin-top: 25px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #08546C;
}


/* S E R V I C E S */

.services-zagalovok p{
    font-family: 'Schoolbell';
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #265A6A;
}
.services-zagalovok h2{
    font-family: 'Inter';
    margin-bottom: 70px;
    text-align: center;
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 60px;
color: #08546C;
}
.bloks {
    display: flex;
    flex-wrap: wrap;
    
    
}
.bloks .blok{
    margin-left: 26px;
    width: 273px;
    height: 251px;
    box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
  
}
.blok:hover{
    transition: all 0.7s ease-in-out;
    background-color: #08546C;
    color: #FFFFFF;
    
}
.blok:hover>img{
   position: relative;
   right: 50px;
   transition: all 1s ease-in-out;
   background-color: #FFA63A;
}
.blok:hover >h2{
    color: #FFFFFF;
}
.blok:hover>p{
   color:#B2BBBD;
}
.blok img{
    margin-left: 30px;
    margin-top: 30px;
    background: #F5FBFC;
    border-radius: 50%;
    padding: 10px;
    transition: all .5s ease-in-out;
}
.blok h2{
    margin: 0;
    text-align: ;
    font-family: 'Inter';
    margin-top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0F1221;
}
.blok p{
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #696969;
    text-decoration: none;
    text-align: left;
    padding-left: 30px;
    
}


/* P O R T F O L I O*/

.portfolio h2{
    margin-bottom: 10px;
    font-family: 'Inter';
    margin-top: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
    color: #08546C;
}
.portfolio #p{
    margin-bottom: 70px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
color: #757575;
text-decoration: none;
}
.p-section-1, .p-section-2{
    display: flex;
    flex-wrap: wrap;
}
.item-port{
    
    width: 515px;
    margin: 0 70px 0 70px;
}
.portfolio h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 56px;
color: #08546C;
}
.item-port h2{
font-family: 'Inter';
font-style: normal;
margin-top: 40px;
font-weight: 600;
font-size: 30px;
line-height: 29px;
color: #08546C;
}
.item-port p{
margin-bottom: 20px;
margin-top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #757575;
}
.item-port a{
margin-top: px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #08546C;
}
.item-port .right{
    margin-left: 24px;
}
.a:hover{
    color: #FFA63A;
    transition: 1s;
}
.a:hover>img{
    transition: all 1s ease-in-out;
    transform: scale(3);
    opacity: 0;
}







.main-down{
    margin-top: 70px;
    display: flex;
    align-items: center;
    max-width: 1920px;
    max-height: 730px;
}

.main-down p{
    margin-top: 32px;
 
    max-width: 585px;
    text-align: left;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
    
}
.main-down h3{
    margin-top: 33px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #AABFC6;
}




/* F O O T E R */


.item-footer{
    margin-top: 105px;
    margin-bottom: 172px;
}
.item-footer h2{
font-family: 'Inter';
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #08546C;
}
.item-footer p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 40px;
color: #757575;
}
.social img{
    margin-right: 20px;
    margin-top: 50px;

}

@media (max-width:1350px){
   
    .p-section-1, .p-section-2{
       flex-direction: column; 
       position: relative;
       top: 600px;   
    }
    .main-down{
        margin-top: 1200px;
    }
    .main-down p{
        margin-right: 150px;
        font-size: 12px;
    }
    .main-down h1{
        display: none;
    }
}
@media (max-width:1170px){
    .statistic{

    width: 500px;
    flex-direction: column;
    transition: .7s;
    }
    
    
}
@media(max-width:1000px){
    .main-right{
       display: none;
    }
    .main-down{
        display: none;
    }
    .item-footer{
        margin-top: 2000px;
    }
   
}
@media (max-width: 750px){
    
    .main{
        display:
    }
    #navbar-responsive {
        margin: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#145E76;
        background-image: url(../images/background.png);
        transition: .5s;
       
    }
    .open{
        align-items: center;
        justify-content: center;
        display: block;
       
    }
     .close{
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
     }
    .menyu{
        flex-direction: column;
        margin-right: -50px;
        font-size: 64px;
    }
    .p-section-1, .p-section-2{
        display: none;
    }
    .item-footer{
        margin-top: 50px;
    }
    .item-footer p{
        font-size: 10px;
    }
}